
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'properties_Unit_list' %}">
    Unit Listing
    </a>
</p>
    
<table class="table">
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>size_sqft</td><td>{{ object.size_sqft }}</td></tr>
    <tr><td>unit_number</td><td>{{ object.unit_number }}</td></tr>
    <tr><td>is_available</td><td>{{ object.is_available }}</td></tr>
    <tr><td>price</td><td>{{ object.price }}</td></tr>
    <tr><td>project</td><td>{{ object.project }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}